@import "./utils/normalize";
@import "./utils/variables.scss";
@import "./utils/placeholders";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primaryColor;
    color:$headingColor;
    font-family: Roboto, sans-serif;
}

.image {
    display: block;
}

.container {
    @extend %container;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

@import "./components/page-header";
@import "./components/util-classes/logo";
@import "./components/util-classes/navigation";
@import "./components/hero-section";
@import "./components/features-section";