@mixin section-heading() {
    font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        color: $headingColor;
}

